<!doctype html>
<html>
<link rel="icon" href="{{url_for('static', filename='images/tab_icon.png')}}" sizes="192x192">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Stream</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script>    var HomeUrl = "{{home_url}}";  </script>
</head>

<body class="alternate_body">

<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>

<div class="blue-rectangle">
        <p>AQUA DEPTH</p>
        <button class="change_button" onclick="change_frame()"></button>
</div>

<div class="main_frame">
    <div class="ship_frame">
        <img src="{{ url_for('static', filename='images/ship.png') }}" class="ship_image" />
    </div>

    <div class="data_ship_frame" id="ShipFrame">
        <p>AQUA DEPTH</p>
    </div>
    
</div>

</body>



</html>